:root {
    --bs-primary-rgb: 29, 51, 65;
    --bs-secondary-rgb: 196, 138, 44;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 84, 195, 87;
    --bs-warning-rgb: 211, 178, 84;
    --bs-danger-rgb: 211, 178, 84;
}

.navbar-toggler {
    display:none;
}

div.maincontent{
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

div.introContent{
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    font-size:medium;
    font-weight: 100;
    letter-spacing:1px;
    line-height: 150%;
    text-align: left;
  }

.copyright {
    background-color: #335962;
    font-size: x-small;
}

.collapsible {
    background-color: #D3B254;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size:medium;
    font-weight: 700;
}

.collapsible:hover {
    background-color: #C48A2C;
  }

.startHidden {
    display:none;
    font-size: 10px;
}