:root {
    --bs-primary-rgb: 29, 51, 65;
    --bs-secondary-rgb: 196, 138, 44;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 84, 195, 87;
    --bs-warning-rgb: 211, 178, 84;
    --bs-danger-rgb: 211, 178, 84;
}

.navbar-toggler {
    display:none;
}

div.maincontent{
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

div.introContent{
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    font-size:medium;
    font-weight: 100;
    letter-spacing:1px;
    line-height: 150%;
    text-align: left;
  }

.copyright {
    background-color: #335962;
    font-size: x-small;
}

.collapsible {
    background-color: #D3B254;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size:medium;
    font-weight: 700;
    transition: 0.3s;
}

.collapsible:hover {
    background-color: #C48A2C;
  }

.startHidden {
    display:none;
    font-size: 10px;
}

.page-section {
    padding-top: 0;
  }
  
  .page-section .page-section-heading {
    font-size: 0;
    line-height: 1rem;
  }

  .masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 0;
    margin-bottom: 0;
  }

/* Customize the Action Network embedded widgets*/

/* Remove the Action Network Logo */
.can_embed #logo_wrap {
	display: none !important;
}

/* Change link color */
.can_embed #can_embed_form a,
.can_embed #donate_auto_modal a {
	color: #54C3BB !important;
}

/* Button Background Color */
.can_embed .can_button,
.can_embed #can_embed_form input[type="submit"],
.can_embed #can_embed_form .button,
.can_embed #donate_auto_modal input[type="submit"],
.can_embed #donate_auto_modal .button {
	background-color: #C48A2C !important;
}

/* Button Background Color on Hover */
.can_embed .can_button:hover,
.can_embed #can_embed_form input[type="submit"]:hover,
.can_embed #can_embed_form .button:hover,
.can_embed #donate_auto_modal input[type="submit"]:hover,
.can_embed #donate_auto_modal .button:hover {
	background-color: #D3B254 !important;
}

/* Thank You Page Header Background Color */
.can_embed #can_embed_form #can_thank_you,
.can_embed #donate_auto_modal #can_thank_you {
	background-color: #54C3BB !important;
}

/* Thank You Page Header Text Color */
.can_embed #can_embed_form #can_thank_you,
.can_embed #donate_auto_modal #can_thank_you,
.can_embed #can_embed_form #can_thank_you h1,
.can_embed #donate_auto_modal #can_thank_you h1,
.can_embed #can_embed_form #can_thank_you h4,
.can_embed #donate_auto_modal #can_thank_you h4,
.can_embed #can_embed_form #can_thank_you #action_info .action_info_user,
.can_embed #donate_auto_modal #can_thank_you #action_info .action_info_user,
.can_embed #can_embed_form #can_thank_you #action_info .action_info_user a,
.can_embed #donate_auto_modal #can_thank_you #action_info .action_info_user a {
	color: black !important;
}

