{{ if .IsHome }}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="/ontario.jpeg" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">{{ .Site.Title }}</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><em class="fas fa-star"></em></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <h5 class="masthead-subheading font-weight-light mb-3">{{ .Site.Params.TagLine }}</h5>
		<!-- Describe to our activists what this website is about -->
        <div class="divider-custom divider-light">
            <div class="introContent">
                <h5 style="color:#C48A2C">Have an Ontario address?</h5>
                <p>Email Andrea Khanjin, Ontario's Minister of Environment, Conservation and Parks, as well as your local MPP.</p>
                <p>Simply enter your name and contact information below and hit 'Start Writing'. Our pre-written letter will automatically show up!  You can then edit it if you like. Sign your name and hometown, then hit 'Send Letter'.</p>
                <h5 style="color:#C48A2C">Not from Ontario?</h5>
                <p>You will need to send a letter from your own email. The form widgets below can be used by Ontario addresses only. You will only send a letter to the Minister of Environment, Andrea Khanjin.  <a href="#notInOntario" onClick="document.getElementById('outsideOntario').style.display='block'; document.getElementById('ownEmail').style.display = 'block'">Click here</a> for instructions.</p>
            </div>
        </div>
    </div>
</header>
{{ else }}
<header class="masthead2 text-white text-center"></header>
{{ end }}
