{{ if .IsHome }}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="/dg.jpeg" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">{{ .Site.Title }}</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><em class="fas fa-star"></em></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <h5 class="masthead-subheading font-weight-light mb-3">{{ .Site.Params.TagLine }}</h5>
		<!-- Describe to our activists what this website is about -->
        <div class="divider-custom divider-light">
            <div class="introContent">
                <p>Climbing access is severely restricted in Ontario.</p>
                <p>We at the Ontario Alliance of Climbers are asking for your help to secure access to climbing in Ontario Parks.</p>
                <p>Write your own letter to David Piccini, Ontario's Minister of Environment, Conservation and Parks, as well as your local MPP.</p>
                <p>Tell them to allow Ontarians to rock climb in our provincial parks! By doing so, they will help boost tourism, expand recreational opportunities, and collaboratively conserve and care for nature with the community.</p>
                <p>Use our pre-written forms below, or copy and paste to send it directly from your own email for a greater impact!</p>
                <p>You have a voice. Let it be heard!</p>
            </div>
        </div>
    </div>
</header>
{{ else }}
<header class="masthead2 text-white text-center"></header>
{{ end }}
