<head>
  <link href="/static/css/custom.css" rel="stylesheet" />
<style>

div.maincontent{
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

</style>
</head>

<!-- Widget for David Piccini letter -->
<section class="page-section bg-primary text-white py-5" id="davidpiccini">
  <div class="container introContent">
    <h5 style="color:#C48A2C">For Ontario addresses</h5>
    <h5>Step 1: Email Andrea Khanjin!</h5>
  </div>
  <div class="container">
    <link href='https://actionnetwork.org/css/style-embed-v3.css' rel='stylesheet' type='text/css' />
    <script src='https://actionnetwork.org/widgets/v5/letter/saveclimbingatdg-letter-to-david-piccini?format=js&source=widget'></script>
    <div class="maincontent" id='can-letter-area-saveclimbingatdg-letter-to-david-piccini'><!-- this div is the target for our HTML insertion --></div>
    <p class="smallError" align="center"><em>Did our widget fail to load?  You can reach our letter writing service directly at <a href="https://actionnetwork.org/letters/saveclimbingatdg-letter-to-david-piccini/" target="_blank">ActionNetwork.org</a>.</em></p>
  </div>
</section>

<!-- Widget for MPP letter -->
<section class="page-section bg-primary text-white py-5" id="mpp">
  <div class="container introContent">
    <h5 style="color:#C48A2C">For Ontario addresses</h5>
    <h5>Step 2: Email your MPP!</h5>
  </div>
  <div class="container">
    <link href='https://actionnetwork.org/css/style-embed-v3.css' rel='stylesheet' type='text/css' />
    <script src='https://actionnetwork.org/widgets/v5/letter/saveclimbingatdg-letter-to-your-mpp?format=js&source=widget'></script>
    <div class="maincontent" id='can-letter-area-saveclimbingatdg-letter-to-your-mpp'><!-- this div is the target for our HTML insertion --></div>
    <p class="smallError" align="center"><em>Did our widget fail to load?  You can reach our letter writing service directly at <a href="https://actionnetwork.org/letters/saveclimbingatdg-letter-to-your-mpp/" target="_blank">ActionNetwork.org</a>.</em></p>
  </div>

</section>
<!-- Collapsible section for instructions on good letter writing -->
<section class="page-section bg-primary text-white py-5" id="howTo">
  <div class="container introContent">
    <button type="button" class="collapsible">Want to personalize your letter? Click to expand for tips on effective letter writing</button>
    <div class="content mainContent startHidden introContent">
      <p></p>
      <p>We've provided a standard letter below for you to send to representatives. You are able (and encouraged!) to edit it before hitting Send.</p>
      <h5>Tips for an effective letter:</h5>
      <p>Keep your writing short and sweet.  Be specific with details, but as concise as possible in order to hold their attention!</p>
      <p>Add your own personal anecdotes about why climbing matters to you! We've provided a standard letter, but feel free to personalize it as you see fit. The more varied the letters are, the greater the impact they'll have.</p>
      <p>Write about how climbing impacts you in any and all areas of your life:
        <ul>
          <li>mental and physical health</li>
          <li>a personal connection with nature and the environment</li>
          <li>relationships with the climbing community, your friends, and family</li>
          <li>decisions on where to vacation and/or buy property or live</li>
          <li>career and business opportunities</li>
        </ul>
      </p>
      <p>Note: Do NOT include links to other sites, some officials may filter out emails which contain external links.</p>
    </div>

    <p><a id="notInOntario"></a></p>

    <button type="button" class="collapsible mt-3">How to send a letter from your own email</button>
    <div class="content mainContent startHidden introContent" id="outsideOntario">
      <p></p>
      <p><span style="color:#C48A2C">If you don't have an Ontario address,</span> please send a letter from your own email. You will only send a letter to the Minister of Environment, Andrea Khanjin (<a href="mailto:Andrea.Khanjin@pc.ola.org?cc=climbinparks@ontarioallianceofclimbers.ca&subject=Allow%20Climbing%20at%20Ontario%20Provincial%20Parks">Andrea.Khanjin@pc.ola.org</a>).</p>
      <ol>
        <li>Copy and paste the letter template into your email</li>
        <li>Personalize your letter if you wish</li>
        <li>Send to <a href="mailto:Andrea.Khanjin@pc.ola.org?cc=climbinparks@ontarioallianceofclimbers.ca&subject=Allow%20Climbing%20at%20Ontario%20Provincial%20Parks">Andrea.Khanjin@pc.ola.org</a>, and CC <a href="mailto:climbinparks@ontarioallianceofclimbers.ca">climbinparks@ontarioallianceofclimbers.ca</a></li>
        <li>That's it!  You're done!  THANK YOU!</li>
      </ol>
      <div style="align-content: center;">
        <button type="button" class="collapsible-style-only mt-3" onClick="copyIntoClipboard()">&#9755;   Click to copy the letter text into your clipboard</button>
        <p class="smallError"><a href="https://www.ontarioallianceofclimbers.ca/wp-content/uploads/2023/09/SaveOntarioClimbing_UpdatedLetterFromCommunity.pdf" target="_blank">Click here</a> to download our prewritten letter.</p>
      </div>
      <p><span style="color:#C48A2C">If you live in Ontario</span> and are sending a letter from your own email, CC your local MPP as well! Find the contact information for your MPP here: <a href="https://www.ola.org/en/members/current/contact-information">https://www.ola.org/en/members/current/contact-information</a></p>
      <h5>Please CC us!</h5> 
      <p>It will help us keep track of how many letters have been sent.
        We're also looking at raffling off prizes to individuals taking part in the campaign, and CCing us is your proof of participation!</p>
      <p>Please CC us at <a href="mailto:climbinparks@ontarioallianceofclimbers.ca">climbinparks@ontarioallianceofclimbers.ca</a>.</p>
    </div>
  </div>
</section>

<div class="startHidden" id="letterText">Dear Minister Khanjin and MPPs,

I hope this letter finds you well. I wanted to take a moment to both express my appreciation 
for the work undertaken by your predecessor, Minister David Piccini, and to extend a 
warm welcome to you, Minister Andrea Khanjin. As a climber, I am excited for you to continue 
the great progress initiated by Minister Piccini in regard to rock climbing within our Provincial Parks.

The MECP has demonstrated a commitment to work with the Ontario Alliance of Climbers (OAC) 
to allow climbing access in Ontario’s Provincial Parks. I am truly grateful for the MECP’s willingness 
to listen to the climbing community and work together.

The importance of allowing rock climbing within our provincial parks cannot be overstated. 
It is a passion that resonates deeply within the community. It also brings numerous benefits to our province:
● Rock climbing is a rapidly growing sport, with thousands of Ontarians participating
● Rock climbing boosts tourism, supports local economies, and is a growing industry in our province
● Rock climbing and ecological interests are aligned, and proper management plans cultivate conservation
● Rock climbing is a safe and fun part of a healthy lifestyle, benefiting both physical and mental health

It's worth noting that rock climbing has been a part of areas like Devil’s Glen and Lion’s Head Provincial Parks 
for over half a century. However, the absence of formal climbing management plans has led to ineffective 
and inconsistent management of climbing activities. This has resulted in missed opportunities for tourism, 
recreation, stakeholder engagement, and collaborative conservation efforts. The MECP and the OAC 
have been collaborating to rectify this situation.

I kindly request your continued support in updating provincial park management plans to include rock climbing. 
This would enable Ontarians and visitors alike to enjoy rock climbing in our provincial parks, contribute to 
the economic growth of our province, and be active partners in the crucial mission of ecological conservation.

Once again, welcome to your new role, Minister Khanjin. We look forward to working closely with you 
to further enhance the opportunities for rock climbing in our beloved Ontario Parks!

Sincerely,
[Name]
[City/Town]
</div>

<script>
  function copyIntoClipboard() {
      var letterText = document.getElementById('letterText').innerHTML;
      navigator.clipboard.writeText(letterText).then(() => {
        console.log('Content copied to clipboard');
      },() => {
        console.error('Failed to copy');
      });
  }

  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>
