<head>
  <link href="/static/css/custom.css" rel="stylesheet" />
<style>

div.maincontent{
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

</style>
</head>

</section>
<!-- Collapsible section for instructions on good letter writing -->
<section class="page-section bg-primary text-white py-5" id="howTo">
  <div class="container introContent">
    <button type="button" class="collapsible">Please personalize your submission! Click to expand for tips on effective submissions</button>
    <div class="content mainContent startHidden introContent">
      <p></p>
      <p>To cruise the crux that we're at now, personalized submissions are much more effective than before. We will provide sample submissions, but original submissions matter a lot more now. Provincial staff will count submissions for and against, but they will also consider the points that the letters bring up. Still, any positive letter is better than no letter.</p>
      <h5>Tips for an effective submission:</h5>
      <p>Keep your writing short and sweet.  Be specific with details, but as concise as possible in order to hold their attention!</p>
      <p>Add your own personal anecdotes about why climbing matters to you! Please personalize your submission as you see fit. The more varied the submissions are, the greater the impact they'll have.</p>
      <p>Coming soon: We will post some submissions here which you can use as inspiration.</p>
    </div>

  </div>
</section>

<!-- Collapsible section with generic sample submission -->
<section class="page-section bg-primary text-white py-5" id="sampleGeneric">
  <div class="container introContent">
      <p>A personal response is a lot better than a generic response, but a
generic response is better than no response. Here is something that you can use as a start of a response to the Ontario Parks consultation.</p>

      <button type="button" class="collapsible">Click to expand: Sample generic submission</button>
    <div class="content mainContent startHidden introContent">
      <p>I have been rock climbing outdoors for N years, and I fully support the
proposed change to the Park Management Plan for Devil's Glen which
legitimizes climbing.</p>

<p>Access to outdoor climbing is important to me and climbing in
Ontario Parks provides me with valued recreational opportunities
in nature.</p>

<p>Rock climbing is a low-impact recreational activity becoming
increasingly popular in Ontario and around the world, and climbers
are excellent stewards of the environment.</p>

<p>Other jurisdictions, notably in Western Canada, as well as Conservation Halton here in Ontario, productively work together with local climbing communities to facilitate safe access to rock and ice climbing.</p>

<p>I particularly support the proposal in the management plan for a new parking lot at Devil's Glen, which will improve the current temporary parking situation across the road.</p>

<p>Please approve this proposal.</p>

<p>Sincerely,<br>

[Your Name]</p>
</blockquote>  
    </div>

  </div>
</section>

<!-- Collapsible section with OAC volunteer submission -->
<section class="page-section bg-primary text-white py-5" id="sampleOACVolunteer">
  <div class="container introContent">

      <button type="button" class="collapsible">Click to expand: Submission from an OAC volunteer</button>
    <div class="content mainContent startHidden introContent">
<blockquote>
      <p>I am writing in full support of the proposed amendment to the Devil's Glen Provincial Park Management Plan, specifically the addition of rock climbing as a permitted activity.</p>
<p>As someone who moved to Canada three years ago, recreation in Ontario Parks has been instrumental in my adaptation and enjoyment of this beautiful country. The access to nature provided by our parks is vital for my personal well-being and mental health. Rock climbing, in particular, is an activity that has become central to my life. It not only provides a sense of purpose and connection to nature, but it has also been the cornerstone of my social life; I have met almost all of my current friends through climbing. Allowing this activity in Devil's Glen will not only benefit my life but also the lives of many others seeking to build a similar sense of community and connection in the outdoors.</p>
<p>I understand that Ontario Parks has valid conservation concerns with any new activity. However, I believe that people who recreate in nature are often the best stewards of the environment. By fostering a community of engaged users like rock climbers, you are gaining a dedicated group of advocates who will care for the park not only in the short run by practicing low-impact recreation, but also in the long run by helping to ensure its continued existence and securing its funding for the future.</p>
<p>I urge you to approve this proposal.</p>
</blockquote>  
    </div>

  </div>
</section>

<!-- Collapsible section with Patrick Lam submission -->
<section class="page-section bg-primary text-white py-5" id="samplePlam">
  <div class="container introContent">

      <button type="button" class="collapsible">Click to expand: Submission from Patrick Lam</button>
    <div class="content mainContent startHidden introContent">
      <blockquote>
<p>I am pleased to write in strong support of the proposed amendment to the management plan at Devil's Glen and in particular the introduction of a Climbing Management Plan.</p>

<p>I am a Director of the Ontario Alliance of Climbers, a non-profit which aims to improve access to outdoor climbing in Ontario. However, this submission is in my personal capacity.</p>

<p>First of all, the adoption of a climbing management plan is a huge step forward. Rock climbing is an increasingly popular and low-impact recreational activity in Ontario and around the world, and providing opportunities for recreational enjoyment is in Ontario Parks's mission. Conservation Halton can attest to the climbing community's actions as stewards of our natural and cultural landscape, contributing to the maintenance of the ecological integrity of our lands.</p>

<p>It is wonderful that this management plan has been developed with significant input from climbing stakeholders. I have coauthored an academic paper with case studies from Colorado, Utah, and Ontario, showing the value of cooperation with climbing stakeholders to land managers:</p>

<ul>
  <li>David Carter, Patrick Lam, Garrett Hutson, Nate Furman, and Jeff
    Rose. The Self-Governance Challenges Facing Climbers, with
    Examples from Utah, Colorado, &amp; Ontario. Journal of Outdoor
    Recreation and Tourism, 2020.</li>
</ul>

<p>I will now speak to some technical aspects of the proposed plan, with two critical issues first, followed by general support and comments about other aspects.</p>

<ul>
<li> The wording "No free climbing, slack-roping or any form of un-roped climbing is allowed in the park" must read "No free solo climbing, other forms of unroped climbing, or slacklining are allowed in the park" for consistency with jargon as used in the rock climbing community; my proposed wording captures what I believe to be the intent here.</li>

<li> "Rock alteration is prohibited and includes any removal of rock from its natural position, chipping, or gluing, cementing, or installing artificial holds is prohibited. O. Reg. 347/07, s. 2 (1)." The rock climbing community is committed to low-impact recreation and climbers generally do not deface the rock. Having said that, rockfall is a common geologic process on the Niagara Escarpment, and, in the interests of safety, climbers will sometimes proactively reposition rock before it falls on a subsequent climber. I would propose the following wording: "Routes should be cleaned of loose or dangerous materials, but chipping, or gluing, cementing, or installing artificial holds is prohibited. O. Reg. 347/07, s. 2 (1)."</li>

<li> Park classification: the change to "natural environment" looks appropriate to me in this context; Devil's Glen indeed protects outstanding recreational landscapes, representative ecosystems and provincially-significant elements of Ontario's natural and cultural heritage, and has played an important role in the development of rock climbing in Ontario.</li>

<li> It is critical to ensure that the cliff lies in the area classified as "natural environment" and not "nature reserve". This is the case as far as I can tell from the map in Figure 3, but it would be great to have more explicit confirmation of this intent in the text of the plan.</li>

<li>I support the proposed enforcement of unauthorized access and use, especially when it comes to interference with access trails and climbing routes.</li>

<li>I hope that the parking lot and access trail can be built in the near future, and trust that there will be transitional provisions such that climbing will still be allowed before the current trails allowing safe access to the crag are fully formalized.</li>

<li>I have no issue with the proposed introduction of day use fees.</li>

<li> "Rock climbing in these areas would be done so solely at the risk of the user, and Ontario Parks will not establish, maintain or inspect any rock climbing routes or locations in this Park:” yes, that is a reasonable stance for Ontario Parks to take.</li>

<li> "Ontario Parks may consult with the climbing community to determine the extent of existing routes and/or if environmental impact mitigation approaches can be undertaken to reduce instances of route closures:" my research paper cited above shows that this is a productive approach, and I know that the OAC is happy to contribute to mitigation approaches. As mentioned elsewhere about invasive species control, the OAC has helped with garlic mustard removal at Rattlesnake Point (Conservation Halton) and would be happy to contribute to analogous efforts at Devil's Glen and at other provincial parks.</li>
</ul>

<p>Once again, thank you for this well-thought-out climbing management plan. I fully support the adoption of this plan.</p>

<p>Sincerely,</p>

<p>Patrick Lam, PhD, PEng<br>
 Waterloo, ON</p>
	
</blockquote>  
    </div>

  </div>
</section>



<script>
  function copyIntoClipboard() {
      var letterText = document.getElementById('letterText').innerHTML;
      navigator.clipboard.writeText(letterText).then(() => {
        console.log('Content copied to clipboard');
      },() => {
        console.error('Failed to copy');
      });
  }

  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>
