<head>
  <link href="/static/css/custom.css" rel="stylesheet" />
<style>

div.maincontent{
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

</style>
</head>

<!-- Collapsible section for instructions on good letter writing -->
<section class="page-section bg-primary text-white py-5" id="howTo">
  <div class="container introContent">
    <button type="button" class="collapsible">Click to expand for tips on writing an effective letter</button>
    <div class="content mainContent startHidden introContent">
      <p></p>
      <p>We've provided a standard letter below for you to send to representatives. You are able (and encouraged!) to edit it before hitting Send.</p>
      <h5>Tips for an effective letter:</h5>
      <p>Keep your writing short and sweet.  Be specific with details, but as concise as possible in order to hold their attention!</p>
      <p>Add your own personal anecdotes about why climbing matters to you! We've provided a standard letter, but feel free to personalize it as you see fit. The more varied the letters are, the greater the impact they'll have.</p>
      <p>Write about how climbing impacts you in any and all areas of your life:
        <ul>
          <li>mental and physical health</li>
          <li>a personal connection with nature and the environment</li>
          <li>relationships with the climbing community, your friends, and family</li>
          <li>decisions on where to vacation and/or buy property or live</li>
          <li>career and business opportunities</li>
        </ul>
      </p>
      <p>Note: Do NOT include links to other sites, some officials may filter out emails which contain external links.</p>
    </div>

    <p></p>

    <button type="button" class="collapsible mt-3">Click to expand for instructions if you do not live in Ontario</button>
    <div class="content mainContent startHidden introContent">
      <p></p>
      <p>If you do not live in Ontario, you will not have an MPP who represents you, but you can still email David Piccini!</p>
      <p>If you experience issues with the letter writing widget below because you do not have an Ontario address, please fill in any Ontario address to access the letter, then copy and paste into your own email.  You may use Toronto City Hall for example (100 Queen St. W. Toronto, ON, M5H 2N2 ).</p>
      <p>Then follow the instructions below!</p>
    </div>
   
    
    <p></p>

    <button type="button" class="collapsible mt-3">Click to expand for details on how to send a letter from your own email</button>
    <div class="content mainContent startHidden introContent">
      <p></p>
      <p>We've provided a tool to make it as easy as possible for you to send a letter to the government officials with the power to allow climbing in Ontario parks.  However, letters will have a greater effect if they are not all identical.</p>
      <p>Feel free to copy & paste the letter to send directly from your own email, and edit it as you see fit!</p>
      <h5>Please CC us!</h5> 
      <p>It will help us keep track of how many letters have been sent.
        We're also looking at raffling off prizes to individuals taking part in the campaign, and CCing us is your proof of participation!</p>
      <p>Please CC us at <a href="climbinparks@ontarioallianceofclimbers.ca">climbinparks@ontarioallianceofclimbers.ca</a>.</p>
      <h5>To contact David Piccini:</h5>
      <p>Please copy and paste the letter below and send it from your personal email. David Piccini can be reached at: <a href="mailto:david.piccinico@pc.ola.org">david.piccinico@pc.ola.org</a>.</p>
      <h5>To contact your MPP:</h5>
      <p>Your MPP is determined by your home address. If you live in Ontario, you'll see below that we've identified your MPP based off of your Postal Code. If you'd like to email your MPP from your own email, you may find the contact information for your MPP here: <a href="https://www.ola.org/en/members/current/contact-information">https://www.ola.org/en/members/current/contact-information</a></p>
    </div>
  </div>
</section>

<!-- Reminder to add their name to the letter-->
<section class="page-section bg-primary text-white py-1" id="howTo">
  <div class="container introContent">
    <h5>Remember to sign your name and hometown!</h5>
    <p>If you edit the standard letter and want to use the same email for your MPP, copy your letter to your clipboard before you hit Send!</p>
    <p class="smallError">Note that by completing the action of sending a letter through the widget, the information you've input will be stored and associated with our campaign.  If you do not wish to have your information stored by ActionNetwork, copy and paste the letter to send directly from your own email instead.</p>
  </div>
</section>

<!-- Widget for David Piccini letter -->
<section class="page-section bg-primary text-white py-5" id="davidpiccini">
  <div class="container">
    <link href='https://actionnetwork.org/css/style-embed-v3.css' rel='stylesheet' type='text/css' />
    <script src='https://actionnetwork.org/widgets/v5/letter/saveclimbingatdg-letter-to-david-piccini?format=js&source=widget'></script>
    <div class="maincontent" id='can-letter-area-saveclimbingatdg-letter-to-david-piccini'><!-- this div is the target for our HTML insertion --></div>
    <p class="smallError" align="center"><em>Did our widget fail to load?  You can reach our letter writing service directly at <a href="https://actionnetwork.org/letters/saveclimbingatdg-letter-to-david-piccini/" target="_blank">ActionNetwork.org</a>.</em></p>
  </div>
</section>

<!-- Reminder to add their name to the letter-->
<section class="page-section bg-primary text-white py-1" id="howTo">
  <div class="container introContent">
    <h5>Remember to sign your name and hometown!</h5>
  </div>
</section>

<!-- Widget for MPP letter -->
<section class="page-section bg-primary text-white py-5" id="mpp">
  <div class="container">
    <link href='https://actionnetwork.org/css/style-embed-v3.css' rel='stylesheet' type='text/css' />
    <script src='https://actionnetwork.org/widgets/v5/letter/saveclimbingatdg-letter-to-your-mpp?format=js&source=widget'></script>
    <div class="maincontent" id='can-letter-area-saveclimbingatdg-letter-to-your-mpp'><!-- this div is the target for our HTML insertion --></div>
    <p class="smallError" align="center"><em>Did our widget fail to load?  You can reach our letter writing service directly at <a href="https://actionnetwork.org/letters/saveclimbingatdg-letter-to-your-mpp/" target="_blank">ActionNetwork.org</a>.</em></p>
  </div>

</section>


<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>